<div class="row">

  <h1 class="col my-4">🏛️ {{museumName}}</h1>

</div>

<div class="row">

  <div class="col-3">
    <div class="my-4">🗺️
      <!-- MAP -->
    </div>
  </div>

  <div class="col-9">

      <article class="card my-4">
        <div class="card-body">

          <div class="row">
            <div class="col-4">
              <div class="">🖼️
                <!-- PHOTO -->
              </div>
            </div>

            <div class="col-8">
              <p class="card-text">📍 {{museumAdress}}<br>
              {{museumZipCode}} {{museumCity}}</p>
              <p><a href="{{phone}}">📞 {{museumPhone}}</a></p>
              <p><a href="#"></a>📠 {{museumFax}}</p>
              <p><a href="{{museumWebSite}}" target="blank">💻 {{museumWebSite}}</a></p>
              <p>🕙 {{museumOpening}}</p>
            </div>
          </div>

        </div>
      </article>

      <p><a routerLink="">👈 Back to museum list</a></p>

  </div>

</div>
