<section class="container">
  <div class="row my-5 mx-1">
    <h1>🏛️ Open Museum</h1>
  </div>

  <div class="row">

    <app-single-museum class="col-4 mb-5" *ngFor="let museum of museums" [museumName]="museum.nom_du_musee"
      [museumAdress]="museum.adr" [museumZipCode]="museum.cp" [museumCity]="museum.ville"
      [museumPhone]="museum.telephone" [museumWebSite]="museum.sitweb" [museumOpening]="museum.periode_ouverture"
      [museumRef]="museum.ref_musee">
    </app-single-museum>

  </div>
</section>